@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
        body {
            font-family: 'Nunito Sans', sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        .form-image {
            max-width: 100%;
            height: auto;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form-container .btn-custom {
            color: white;
            background-color: #c3002f;
        }
        

        .hidden {
            display: none;
        }
        
        .success-message {
            display: none;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            z-index: 1000;
        }